# README:
# Link this file to ~/.config/systemd/user/jpynb
# #sudo systemctl --user daemon-reload
# systemctl --user enable jpynb 
# systemctl start jpynb
# The WorkingDirectory must exist
# If you don't want anything fancy, go to http://127.0.0.1:8888 to see your notebook
# whenever you want it

[Unit]
Description=Jupyter Notebook server

[Service]
Type=simple
PIDFile=/var/run/jupyter-notebook.pid
ExecStart=/bin/bash -c 'source /home/pshchelo/.virtualenvs/ipynb/bin/activate; /home/pshchelo/.virtualenvs/ipynb/bin/jupyter notebook --no-browser'
WorkingDirectory=/home/pshchelo/devel/ipynb

[Install]
WantedBy=multi-user.target
Alias=jpynb
