username: "{{ ansible_facts['user_id'] }}"
userhome: "{{ ansible_facts['user_dir'] }}"
stack_dir: /opt/stack
stackdev_dir: "{{ userhome }}/src/stackdev"
stackdev_scripts_target_dir: "{{ userhome }}/.local/bin"
devstack_scripts:
  - src: "{{ stackdev_dir }}/scripts/devlog"
    path: "{{ stackdev_scripts_target_dir }}/devlog"
  - src: "{{ stackdev_dir }}/scripts/devlog"
    path: "{{ stackdev_scripts_target_dir }}/rdevlog"
remove_py3_conflicting_eggs: false
conflicting_py3_eggs:
  - "httplib2-*.egg-info"
  - "pyasn1_modules-*.egg-info"
  - "PyYAML-*.egg-info"
