[user]
    name = Pavlo Shchelokovskyy
    email = shchelokovskyy@gmail.com
[core]
    autocrlf = input
    editor = vim
    excludesfile = ~/.gitignore_global
[push]
    default = simple
[i18n]
    filesEncoding = utf-8
[merge]
    tool = vimdiff
[diff]
    guitool = vimdiff
[gitreview]
    username = pshchelo
    rebase = false
[alias]
    graph = log --graph --oneline --decorate
    ss = status --short
    tox-rebase = rebase -x 'tox --skip-missing-interpreters' -i
    copenstack = "!f() { git clone https://opendev.org/openstack/$1 && cd $1 && git review -s; }; f"
    cmcp = "!f() { git clone ssh://pshchelokovskyy@gerrit.mcp.mirantis.com:29418/$1; }; f"
    cmos = "!f() { git clone ssh://pshchelo@review.fuel-infra.org:29418/$1; }; f"
    rmcp = "!f() { git remote add mcp ssh://pshchelokovskyy@gerrit.mcp.mirantis.com:29418/packaging/sources/$1 && git fetch mcp; }; f"
    rmos = "!f() { git remote add mos ssh://pshchelo@review.fuel-infra.org:29418/openstack/$1 && git fetch mos; }; f"
