[project]
	description = my config files for various programs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Pavlo Shchelokovskyy (pshchelo)
[access "refs/for/refs/*"]
	read = group user/Pavlo Shchelokovskyy (pshchelo)
	push = group user/Pavlo Shchelokovskyy (pshchelo)
	label-Code-Review = -2..+2 group user/Pavlo Shchelokovskyy (pshchelo)
	label-Verified = -1..+1 group user/Pavlo Shchelokovskyy (pshchelo)
	rebase = group user/Pavlo Shchelokovskyy (pshchelo)
	removeReviewer = group user/Pavlo Shchelokovskyy (pshchelo)
	submit = group user/Pavlo Shchelokovskyy (pshchelo)
[access "refs/heads/*"]
	read = group user/Pavlo Shchelokovskyy (pshchelo)
	create = group user/Pavlo Shchelokovskyy (pshchelo)
	push = +force group user/Pavlo Shchelokovskyy (pshchelo)
	pushMerge = group user/Pavlo Shchelokovskyy (pshchelo)
[access "refs/tags/*"]
	push = group user/Pavlo Shchelokovskyy (pshchelo)
	push = +force group user/Pavlo Shchelokovskyy (pshchelo)
