ssh_keys:
  - src: "~/.ssh/id_ed25519"
    dest: "{{ userhome }}/.ssh/id_ed25519"
    mode: "0400"
  - src: "~/.ssh/id_rsa"
    dest: "{{ userhome }}/.ssh/id_rsa"
    mode: "0400"

apt_packages_dev:
  - bash-completion
  - universal-ctags
  - patch
  - tmux
  - silversearcher-ag
  - tig
  - git
  - curl
  - direnv
  - docker-compose-v2
  - docker-buildx
  - docker-clean

apt_packages_build:
  - build-essential
  - cmake

apt_packages_py:
  - python3-doc
  - python3-dev
  - python3-pip
  - python3-setuptools
  - python3-venv

apt_packages_tools:
  - wget
  - ncdu
  - htop
  - mc
  - acpid
  - apt-file
  - uuid-runtime
  - man-db
  - git-man
  - bc

apt_packages:
  dev: "{{ apt_packages_dev }}"
  build: "{{ apt_packages_build }}"
  tools: "{{ apt_packages_tools }}"

pip_pkgs:
  - rpdb

dotfiles_repo: "https://github.com/pshchelo/dotfiles.git"
dotfiles_repo_push: "git@github.com:pshchelo/dotfiles.git"
stackdev_repo: "https://github.com/pshchelo/stackdev.git"
stackdev_repo_push: "git@github.com:pshchelo/stackdev.git"

files_to_backup:
  - "{{ userhome }}/.bashrc"
  - "{{ userhome }}/.profile"

dotfiles_dirs_to_create:
  - "{{ userhome }}/.config/nvim"
  - "{{ userhome }}/.config/k9s/skins"
  - "{{ userhome }}/.local/share/bash-completion/completions"

dotfiles_links:
  - path: "{{ userhome }}/.bashrc"
    src: "{{ dotfiles_dir }}/shell/.bashrc"
  - path: "{{ userhome }}/.profile"
    src: "{{ dotfiles_dir }}/environment/.profile"
  - path: "{{ userhome }}/.bash_aliases"
    src: "{{ dotfiles_dir }}/shell/.bash_aliases"
  - path: "{{ userhome }}/.agignore"
    src: "{{ dotfiles_dir }}/shell/.agignore"
  - path: "{{ userhome }}/.dircolors"
    src: "{{ dotfiles_dir }}/colors/dircolors-solarized"
  - path: "{{ userhome }}/.ssh/config"
    src: "{{ dotfiles_dir }}/ssh/config"
  - path: "{{ userhome }}/.gitconfig"
    src: "{{ dotfiles_dir }}/git/.gitconfig"
  - path: "{{ userhome }}/.gitignore_global"
    src: "{{ dotfiles_dir }}/git/.gitignore_global"
  - path: "{{ userhome }}/.gitattributes"
    src: "{{ dotfiles_dir }}/git/.gitattributes"
  - path: "{{ userhome }}/.tigrc"
    src: "{{ dotfiles_dir }}/git/.tigrc"
  - path: "{{ local_bin_dir }}/ppclean"
    src: "{{ dotfiles_dir }}/scripts/python/ppclean"
  - path: "{{ local_bin_dir }}/dtestr"
    src: "{{ dotfiles_dir }}/scripts/python/dtestr"
  - path: "{{ local_bin_dir }}/remote-pdb"
    src: "{{ dotfiles_dir }}/scripts/python/remote-pdb"
  - path: "{{ userhome }}/.ansible.cfg"
    src: "{{ dotfiles_dir }}/ansible/ansible.cfg"
  - path: "{{ userhome }}/.local/share/bash-completion/completions/tig"
    src: "{{ dotfiles_dir }}/git/tig-completion.bash"
  - path: "{{ userhome }}/.config/starship.toml"
    src: "{{ dotfiles_dir }}/shell/starship.toml"
  - path: "{{ userhome }}/.config/k9s/config.yaml"
    src: "{{ dotfiles_dir }}/k9s/config.yaml"
  - path: "{{ userhome }}/.config/k9s/views.yaml"
    src: "{{ dotfiles_dir }}/k9s/views.yaml"
  - path: "{{ userhome }}/.config/k9s/skins/k9s-solarized-dark.yaml"
    src: "{{ dotfiles_dir }}/colors/k9s-solarized-dark.yaml"
  - path: "{{ userhome }}/.config/nvim/init.lua"
    src: "{{ dotfiles_dir }}/nvim/init.lua"
  - path: "{{ userhome }}/.config/lf"
    src: "{{ dotfiles_dir }}/lf"
  - path: "{{ userhome }}/refresh.sh"
    src: "{{ dotfiles_dir }}/refresh.sh"

stackdev_links:
  - path: "{{ local_bin_dir }}/k8s-decode-secret"
    src: "{{ stackdev_dir }}/scripts/mosk/k8s-decode-secret"
  - path: "{{ local_bin_dir }}/mosk-os-shell"
    src: "{{ stackdev_dir }}/scripts/mosk/mosk-os-shell"
  - path: "{{ local_bin_dir }}/rockoon-shell"
    src: "{{ stackdev_dir }}/scripts/mosk/rockoon-shell"
  - path: "{{ local_bin_dir }}/rockoon-logs"
    src: "{{ stackdev_dir }}/scripts/mosk/rockoon-logs"
  - path: "{{ local_bin_dir }}/mosk-dev-connect"
    src: "{{ stackdev_dir }}/scripts/mosk/mosk-dev-connect"
  - path: "{{ local_bin_dir }}/mosk-db-admin"
    src: "{{ stackdev_dir }}/scripts/mosk/mosk-db-admin"
  - path: "{{ local_bin_dir }}/mosk-mycli"
    src: "{{ stackdev_dir }}/scripts/mosk/mosk-mycli"
  - path: "{{ local_bin_dir }}/mosk-ceph-shell"
    src: "{{ stackdev_dir }}/scripts/mosk/mosk-ceph-shell"
